.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $darkModerateCyan;
  text-align: center;
  .footer-wrapper {
    margin: 4.38rem 0;
    width: 18.31rem;

    .logo {
      display: block;
      font-size: 1.5rem;
      font-weight: bold;
      text-transform: lowercase;
      margin-bottom: 2rem;
      color: $darkDesaturatedCyan;
    }
    .navigation {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 2.81rem;

      a {
        position: relative;
        color: $darkDesaturatedCyan;

        &:hover {
          color: $white;
          transition: color 100ms linear;
          
          &::before {
            opacity: 1;
            left: 0;
            width: 100%;
            transition: all 100ms linear;
          }
        }
        
        &::before {
          content: '';
          position: absolute;
          bottom: -8px;
          left: -100%;
          width: 0%;
          height: 3px;
          border-radius: 10px;
          background: white;
          opacity: 0;
        }
      }
    }

    .social-icon {
      display: flex;
      justify-content: space-around;
      width: 200px;
      margin: 0 auto;

      a {
        &:hover {
          svg {
            path {
              fill: $white;
              transition: fill 100ms linear;
            }
          }
        }
        
      }
    }
  }
}
