.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('../images/desktop/image-header.jpg') no-repeat center center /
    cover;
  min-height: 100vh;

  @include breakpoint-down(small) {
    background: url('../images/mobile/image-header.jpg') no-repeat center
      center/cover;
    min-height: 70vh;
  }

  header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80rem;
    margin: 1.5rem auto;
    
    @include breakpoint-down(small) {
      width: 20rem;
      margin: 1rem auto;
    }

    .logo {
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: lowercase;
    }

    .navigation {
      font-size: 0.88rem;

      @include breakpoint-down(small) {
        display: none;
      }

      ul {
        display: flex;
        li {
          .nav-link {
            position: relative;
            padding: 1em 2em;

            &::before {
              content: '';
              position: absolute;
              bottom: -8px;
              left: -100%;
              width: 0%;
              height: 3px;
              border-radius: 10px;
              background: white;
              opacity: 0;
            }

            &:hover {
              &::before {
                opacity: 1;
                left: 0;
                width: 100%;
                transition: all 100ms linear;
              }
            }
          }

          &:last-child {
            text-transform: uppercase;
            .btn {
              font-size: 12px;
              padding: 1em 2em;
              border-radius: 50px;
              background: rgba(255, 255, 255, 1);
              color: $veryDarkDesaturatedBlue;
              font-weight: bold;

              &:hover {
                color: white;
                background: rgba(255, 255, 255, 0.3);
                transition: all 100ms linear;
              }
            }
          }
        }
      }
    }

    .mobile-navigation {
      display: none;
      position: absolute;
      width: 100%;
      top: 85px;
      background-color: $white;
      padding: 2rem 0;
      font-size: 14px;
      text-align: center;

      &::after {
        content: '';
        position: absolute;
        top: -25px;
        right: 0;
        width: 0;
        height: 0;
        border-bottom: 25px solid $white;
        border-left: 25px solid transparent;
      }

      &.active {
        display: block;
      }

      .nav-link,
      .btn {
        color: $darkGrayishBlue;
        font-weight: bold;
      }

      .btn {
        color: $veryDarkDesaturatedBlue;
      }

      ul {
        li {
          width: 40%;
          margin: 0 auto;
          padding: 0.8rem 0;

          &:last-child {
            background-color: $yellow;
            color: $darkGrayishBlue;
            text-transform: uppercase;
            border-radius: 50px;
            margin-top: 1rem;
          }
        }
      }
    }

    .hamburger-icon {
      display: none;

      @include breakpoint-down(small) {
        display: block;
        cursor: pointer;
      }
    }
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .headline-text {
      font-size: 3rem;
      line-height: 1;
      font-weight: 900;
      color: white;
      letter-spacing: 10px;
      text-transform: uppercase;

      margin: 6.25rem 0;

      @include breakpoint-down(small) {
        font-size: 2.2rem;
        line-height: 1.3;
        letter-spacing: 5px;
        text-align: center;
        margin: 3rem 0;
      }
    }

    .arrow-down {
      cursor: pointer;
    }
  }
}
